name: Deploy to GitHub Pages (gh-pages)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Set git identity
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"

      - name: Install dependencies
        run: npm install

      - name: Deploy
        run: npm run deploy
